@font-face {
	font-family: 'Lato', sans-serif;
}


body {
  color:#000;
  background: black;;
}

#fixedHeader{
	padding-top:34px;
	width: 1260px;
	position: fixed;
	top:0;
	background: black;
	
}

#fixedHeaderPlaceHolder{
	width: 1260px;
	height: 186px;
}

#contentsContainer{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1260px;
	/* border: 2px solid yellow; */
}

#topHeader{
	margin-left: 5%;
	margin-bottom:20px;
	width: 90%;
	margin-right: 5%;
}

.flexContainer{
	display: -webkit-flex;
	display: flex;
}

.space-between { 
  -webkit-justify-content: space-between; 
  justify-content: space-between; 
}  

#indexDiv > span.flexItem:first-child{
	padding-left:0;
}

#logoDiv > img {
	position:relative;
	top: 0px;
	width: 230px;
	height: auto;
}

#likeDiv{
	border: 1px solid black;
	border-color: #e0d01b;
	border-radius: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	position:relative;
}

#likeDiv > span {
	color: e0d01b;
	right: 0px;
	font-size: 20px;
}

#coolSpan{
	margin-right:10px;
}
#likeDiv > #likeSpan {
	color: #504a04;
	/* right: 0px; */
	font-size: 20px;
}

#likeDiv > #likeSpan:hover {
	color: yellow;
	cursor: pointer;
}

#indexDiv{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

.scrollableLink{
	padding: 8px;
	font-weight: bold;
	margin-bottom:2px;
}

.scrollableLink:hover{
	color:white;
	cursor:pointer;
}

#testPairingX, #signOutX{
	padding:6px;
	position:relative;
	/* top: 30px; */
	cursor:pointer;
}

hr.bigger {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
	width: 106%;
	position: relative;
	left: -3%;
}

hr {
	display: block;
    height: 0px;
	border:0;
	border-top: 1px solid black;
	border-color: #e0d01b;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0; 
}
.onlyLogged{
	margin-left: 5%;	
	margin-right: 5%;	
}

.sectionTitle{
	font-size:40px;
	color: #e0d01b;
	font-weight: initial;
	margin-top: 30px;
	margin-bottom: 20px;
}

.helpSpan{
	font-size: 10px;
	vertical-align: super;
}

.lightFont{
	font-weight: lighter;
}

div.tagcontainer{
	width: 100%;
	height: 200px;
	border: 1px solid blue;
}

#maxTabsSelect{
	padding: 3px;
	border-radius: 5px;
}

















body p, body span, h2, h3, h4, h1{
	/* color: white; */
	color: rgb(159, 159, 159);
}

body p, body span {
	font-size: 20px;
}

.noDisplay{
	display:none;
}
