/node_modules
/.vscode
/public/bundle.js
/public/advancedOptions
/public/main
/public/remoteControl
/public/rescueTime
/public/siteList
/public/todoist
/public/todoList
/public/bundle
bugs_&_issues.md